/* logo and nav bar */
#main {
  display: block;
  position: absolute;
  left: 15%;
  top: -3%;
}
#logo-img {
  margin: 0 auto;
  width: 30%;
  height: 30%;
  padding: 3%;
  /* padding-top: 15%; */
}

.top-nav{
  background-color: #254666;
  margin-top: 1%;
}

.second-nav{
  padding-bottom: 1%;
}

/* grid of images with captions */
.pic-grid{
  margin-top: 3%;
  margin-bottom: 3%;
  position: relative;
  text-align: right;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/*banner & banner button*/
.banner {
  position: relative;
  width: 50%;
}

/* image responsive */
.banner img {
  width: 100%;
  height: auto;
}

/* btn style */
.banner .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: green;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.banner .btn:hover {
  background-color: white;
  color: black;
}
